[Unit]
Description=Demo Spring Boot app
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/app
ExecStart=/usr/bin/java -cp /home/ec2-user/app/app.jar demo.SpringbootEc2CicdDemoApplication
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
